.venv
__pycache__
data/CamVid
data/CamVid/
data/VOCdevkit/
model/*.pth
model/*.pt
model/*.ckpt
!model/README.md
results/**/checkpoints/
results/**/*.pth
results/**/*.pt
results/**/*.ckpt
doc/
.vscode
.DS_Store
._*
